article{border: 2px solid orange;
border-radius: 5px;
padding: 15px;
color: skyblue;
background-color: rgb(255, 226, 172);
display: grid;
width: 600px;
margin: auto;
grid-template-columns: repeat(5,minmax(100px,auto));}

p{border: 2px solid rgb(151, 98, 0);
padding: 20px;
border-radius: 5px;
background-color: rgb(253, 154, 119);}

.one{grid-column: 1/6;
grid-row: 1/2;}

 article .two{grid-column:1/2;
grid-row: 2/6;}