body{border: 5px solid black;
width: 580px;
height: 240px;
position: absolute;
margin-top: 50px;
margin-left: 50px;}

.a1{width: 100px;
height: 200px;
background-color: red;
display: inline-block;
margin-inline-start: 10px;
position: relative;
top: -180px;}

.a2{width: 100px;
height: 200px;
background-color: red;
display: inline-block;
margin-inline-start: 10px;
position: relative;
top: -180px;}

.a3{width: 100px;
height: 200px;
background-color: blue;
display: inline-block;
margin-inline-start: 10px;
position: relative;
top: -180px;}

article{display: inline-block;
width: 200px;
height: 200px;}